.button {
  border-radius: 10px;
  padding: 5px;
  font-size: var(--font-size-md);
  font-weight: 700;
  &__primary {
    transition: 0.3s ease-in;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100%;
    border: 3px solid var(--color-primary);
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 3px solid var(--color-primary);
    }
  }
  &__secondary {
    transition: 0.3s;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 3px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
