.button {
  border-radius: 10px;
  padding: 5px;
  font-size: var(--font-size-md);
  font-weight: 700;
  &__primary {
    transition: 0.3s ease-in;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100%;
    border: 3px solid var(--color-primary);
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 3px solid var(--color-primary);
    }
  }
  &__secondary {
    transition: 0.3s;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 3px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.modal {
  position: fixed;
  width: 100%;
  max-width: 900px;
  top: 50%;
  left: 50%;
  z-index: 50;
  padding: 18px;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 800px;

  &__part {
    min-width: 250px;
  }
}

.dateRangePicker {
  border: 1px solid #cccccc;
  background: #fff;
  border-radius: 0.5rem;
  outline: none;
}
.rs-picker-default {
  border: none;
}
.rs-picker-toggle {
  border: none;
}
.rs-picker {
  :hover {
    border: 1px solid #cccccc !important;
  }
  :focus {
    border: 1px solid #cccccc !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.searchBar {
  border: 1px solid #cccccc;
  background: #fff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  &:focus {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &__label {
    position: absolute;
    right: 10px;
    top: 12px;
  }

  &__arrow {
    color: #cccccc;
  }
  &__dropDown {
    width: 100%;
    border: 1px solid #cccccc;
    border-top: 0px;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: #fff;
    &__li {
      padding: 0.5rem;

      &:hover {
        @apply bg-secondary;
      }
    }
  }
}

.IconBG {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.9rem;
  margin-left: 0.5rem;
}
