.heroImg {
  min-height: 80vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1518124880777-cf8c82231ffb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2132&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featuredCardInfo {
  min-height: 250px;
}
