.heroImg {
  min-height: 80vh;
  width: 100%;
  background-image: url('https://s3-alpha-sig.figma.com/img/d1ce/14b4/b990c8316705382a002a530695011280?Expires=1651449600&Signature=dhoSR5BKcZNP5wJNEH6bZvcIwWfwXu~4t0temv9lMVvSfqBWKqwJfMC5XndaDRjv1Y~OBYFPO616tTbfyH5aczPkPgQQCZMrL1Ug~12I3l46P3jxo9e9QG6f152rD6hXPnecFYkQSFo9cxWFGfavFH10zApHyscwN6c~GD~1KRTwEv64Ai-qg9EHVRB9poCPb3FcVoiobk9sYZhL9T4nBlGNYPuZmAQekJyrYytquqlqyHenmwdppizEkS7BlSfpX3b8McTFRmRIkVw3R-iVUv9FeQkaZdG~OhtXtogDK289mc7dA6ubksjxjevgqFLW7eLqnBDiiulmtMNMv2KsLg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
